/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #171717; /* Ubah background menjadi warna putih */
}

header {
    background-color: #171717;
    color: #171717;
    padding: 1em;
    text-align: center;
}

nav {
    background-color: #171717;
    padding: 0.5em;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 1em;
}

nav ul li a {
    color: #171717;
    text-decoration: none;
}

main {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #171717;
    color: #171717;
    padding: 1em;
    text-align: center;
}
