
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #171717; /* Ubah warna background  */
}

header {
    background-color: #171717;
    color: #ffffff;
    padding: 1em;
    text-align: center;
}

img {
border-radius: 100px 100px 100px 100px;
width: auto;
height: 200px;

}

nav {
    background-color: #171717;
    padding: 0.5em;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 1em;
}

nav ul li a {
    color: #58a3ff;
    text-decoration: double;
}

main {
    padding: 20px;
    text-align: center;
    color: #ffffff;
}

section {
    padding: 10px;
}

footer {
    background-color: #171717;
    color: #ffffff;
    padding: 1cm;
    text-align: center;
}
